[CONF]

# Probability that at least one experiment does not have outlier.
p = 0.999

# min_samples_number of points to use : (12 unknowns so at least 6 points because 2 equations per points)
min_samples_number = 6

# max_samples_number of points use. The maximum value is the number of points in your file. Let take less
max_samples_number = 20

# Limit number of iteration possible
k_max = 1000